/vg1
/vg2
/vg3
/vg4
/vg5
/vgSkandinavia
/diverse.lyx
/diverse.pdf
/diverse.txt
/diverseComp.pdf
/diverseCompFinished.lyx
/diverseCompFinished.pdf
/diverseCompFinished.txt
/diverseDecompFinished.lyx
/diverseDecompFinished.pdf
/diverseDecompFinished.txt
/enwik8
/opg8-kompr.pdf
/opg8-komprCompFinished.pdf
/opg8-komprDecompFinished.pdf
