/vg1
/vg2
/vg3
/vg4
/vg5
/vgSkandinavia
/diverse.lyx
/diverse.pdf
/diverse.txt
/diverseComp.pdf
/diverseCompFinished.lyx
/diverseCompFinished.pdf
/diverseCompFinished.txt
/diverseDecompFinished.lyx
/diverseDecompFinished.pdf
/diverseDecompFinished.txt
/enwik8
/opg8-kompr.pdf
/opg8-komprCompFinished.pdf
/opg8-komprDecompFinished.pdf
/out/production/algdat_ovinger/Edge.class
/out/production/algdat_ovinger/MapData.class
/out/production/algdat_ovinger/PreProcess.class
/out/production/algdat_ovinger/Oving8/Element.class
/out/production/algdat_ovinger/Oving8/Huffman.class
/out/production/algdat_ovinger/Oving8/LZHandler.class
/out/production/algdat_ovinger/Oving8/Node.class
/out/production/algdat_ovinger/Oving8/PQ.class
/out/production/algdat_ovinger/Oving8/PQHeap.class
/out/production/algdat_ovinger/Oving8/BitOutputStream.class
/out/production/algdat_ovinger/Oving8/BitInputStream.class
/ALTMapKårvåg–Gjemnes.txt
/ALTMapTampere–Ålesund.txt
/DijkstraMapKårvåg–Gjemnes.txt
/DijkstrasMapTampere-Ålesund.txt
/HemsedalEatingPlaces.txt
/interessepkt.txt
/kanter.txt
/Kårvåg-Gjemnes_map_ALT.txt
/Kårvåg-Gjemnes_map_DIJKSTRA.txt
/noder.txt
/PreFileFrom.txt
/PreFileTo.txt
/RørosChargeStations.txt
/Tampere-Ålesund_map_ALT.txt
/Tampere-Ålesund_map_DIIJKSTRA.txt
/TrondheimTorgDrinkingPlaces.txt
/VærnesChargeStations.txt
/VærnesChargingStations.txt
/VærnesGasStations.txt
